---
http_interactions:
- request:
    method: post
    uri: https://ofsys.com/webservices/ofc4/contacts.ashx?method=Merge
    body:
      encoding: UTF-8
      string: '{"Records":[{"ID":{"key_f_EMail":"aishek@gmail.com"},"Data":{"f_EMail":"aishek@gmail.com"}}],"MergeOptions":{"AllowInsert":true,"AllowUpdate":true,"SkipDuplicateRecords":false,"SkipUnmatchedRecords":false,"ReturnRecordsOnSuccess":false,"ReturnRecordsOnError":false,"FieldOptions":null},"AuthKey":{"Key":"bQTxvqkkYtWt2Q39edLWE0EdzeNWzxH0","idKey":3103},"idProject":781}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"Success\": true,\r\n  \"ErrorCode\": null,\r\n  \"ErrorMessage\":
        null,\r\n  \"CreatedRecords\": 0,\r\n  \"UpdatedRecords\": 1,\r\n  \"Records\":
        [\r\n    {\r\n      \"IdRecord\": 15,\r\n      \"Status\": \"Updated\",\r\n
        \     \"ValidationResult\": \"OK\",\r\n      \"Message\": null,\r\n      \"ID\":
        {\r\n        \"key_f_EMail\": \"aishek@gmail.com\"\r\n      },\r\n      \"Data\":
        null,\r\n      \"Record\": null\r\n    }\r\n  ],\r\n  \"idRequest\": 18945355,\r\n
        \ \"Trace\": \"Beginning request (04:15:25)\\r\\n\\tchecking OFSYS User authentication:
        False\\r\\n\\tchecking Dialog Insight administrator: False\\r\\nTargeted service:
        Contacts.Merge\\r\\nDeserializing JSON...\\r\\nDeserializing JSON completed\\r\\nValidating
        parameters...\\r\\nRecords count: 1\\r\\nRecords candidates for insert: 1\\r\\nRecords
        candidates for update: 1\\r\\nValidating parameterscompleted with success\\r\\nExecuting
        method...\\r\\n\\tRecords bulked: 1\\r\\n\\tRecords matched by PK: 1\\r\\n\\tRecords
        dupes, source versus source: 0\\r\\n\\tRecords dupes, source versus target:
        0\\r\\n\\tRecords updated: 1\\r\\n\\tRecords created: 0\\r\\n\\tEMails changed:
        0\\r\\n\\tOptins field changed: no flag involved\\r\\nExecuting method completed
        with success\"\r\n}"
  recorded_at: Wed, 26 Nov 2014 09:15:25 GMT
recorded_with: VCR 2.9.3
