---
http_interactions:
- request:
    method: post
    uri: https://ofsys.com/webservices/ofc4/sendings.ashx?method=SendSingle
    body:
      encoding: UTF-8
      string: '{"idMessage":538731,"contactFilter":{"Mode":"Clauses","TableClauses":[{"TableCode":"Contact","Clause":{"$type":"FieldClause","Field":{"TableCode":"Contact","Name":"f_EMail"},"TypeOperator":"Equal","ComparisonValue":"ab+45@cifronomika.ru"}}]},"AuthKey":{"Key":"bQTxvqkkYtWt2Q39edLWE0EdzeNWzxH0","idKey":3103},"idProject":781}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\r\n  \"Success\": true,\r\n  \"ErrorCode\": null,\r\n  \"ErrorMessage\":
        null,\r\n  \"AffectedContacts\": 1,\r\n  \"idRequest\": 18947426,\r\n  \"Trace\":
        \"Beginning request (04:30:24)\\r\\n\\tchecking OFSYS User authentication:
        False\\r\\n\\tchecking Dialog Insight administrator: False\\r\\nTargeted service:
        Sendings.SendSingle\\r\\nDeserializing JSON...\\r\\nDeserializing JSON completed\\r\\nValidating
        parameters...\\r\\nValidating parameterscompleted with success\\r\\nExecuting
        method...\\r\\nExecuting method completed with success\"\r\n}"
  recorded_at: Wed, 26 Nov 2014 09:30:24 GMT
recorded_with: VCR 2.9.3
